mixin card-item(img, price, country, name, path, duration, lang, date, action)
    .card-item
        .card-item__header
            .card-item__img
                picture
                    source(type="image/webp" srcset=`${img}.webp`)
                    source(type="image/jpg" srcset=`${img}.jpg`)
                    img(src=`${img}.jpg`, alt=`${name}`)
            .card-item__price
                span #{price}
        .card-item__bottom
            .card-item__country
                span #{country}
            .card-item__name
                span #{name}
            if path != ''
                .card-item__path
                    span #{path}
            .card-item__duration
                span #{duration}
                span #{lang}
            .card-item__date
                span #{date}
            if action != ''
                .card-item__action
                    span #{action}